.container {
  margin-top: 16px;
}

.row {
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon {
  padding: 8px;
  opacity: 0.9;
}

.link {
  color: inherit;
  font-weight: 700;
  margin-right: 8px;
}

.link:hover {
  color: #fff;
  transition: all 0.2s ease-in-out;
}
